<!-- Contact Us Form Start -->
<app-title title="Contact Us"></app-title>

<div class="websites-wrapper">
  <ng-container *ngFor="let contact of contactUs">
    <oth-brand-button (click)="redirect(contact.url)" [icon]="contact.cssClass" [text]="contact.name">
    </oth-brand-button>
  </ng-container>
</div>

<div class="footer">
  <div class="footer-card-wrapper">
    <div class="footer-card-right-column">
      <h4>Please email us with any general questions, including cooperation opportunities.
      </h4>
    </div>
  </div>
</div>
<!-- Contact Us Form End -->

<!-- Contact Information -->
<!-- <app-title title="Contact Information">
</app-title>
<div class="contact-information-wrapper">
  <app-contact-information-card></app-contact-information-card>
</div> -->