<!-- About Us -->
<div id="home" class="home-us-wrapper">
  <p>
    {{ BRAND.description }}
  </p>
</div>

<!-- Services -->
<div id="services" class="services-wrapper">
  <app-title title="Services"></app-title>
  <app-services></app-services>
</div>

<!-- Apps -->
<div id="apps" class="products-wrapper">
  <app-title title="Our Apps"></app-title>
  <app-product-swiper *ngIf="apps && apps.length" [apps]="apps"></app-product-swiper>
</div>

<!-- Contact Us -->
<div id="contact" class="contact-us-wrapper">
  <app-contact-us></app-contact-us>
</div>
