<!-- About Us -->
<div id="home" class="home-us-wrapper">
  <p>
    MobTechi is a Software Development Company, Involved in Website design and development, mobile
    applications development, web hosting and business application development. We are good at planning and execution of
    the projects, which ensure cost effective development. We also do technology consultation to provide solutions and
    alternatives out of the box with cost effective and futuristic manner.
  </p>
</div>

<!-- Apps -->
<div id="apps" class="products-wrapper">
  <h1>Our Apps</h1>
  <app-product-swiper *ngIf="apps && apps.length" [apps]="apps"></app-product-swiper>
</div>

<!-- Contact Us -->
<div id="contact" class="contact-us-wrapper">
  <app-contact-us></app-contact-us>
</div>
