@use 'node_modules/@open-template-hub/card/styles/card/card';

@use '../../../../styles/page/page';
@use '../../../../styles/util/util';
@use '../landing-layout.component';

.home-us-wrapper {
  padding: 0 13%;
  padding-top: 5%;

  h2 {
    text-align: center;
    margin-bottom: 20px;
  }

  p {
    line-height: 2;
    letter-spacing: 0.06rem;
  }
}

.services-wrapper {
  padding: 8% 15%;
}

.products-wrapper {
  padding: 0 15% 8%;;
}

@media only screen and (max-width: 999px) {
  .contact-us-wrapper {
    padding-top: 5%;
  }
}
