:root {
  --theme-color-blue: #009ACD;
  --theme-color-blue-secondary: #005470;
  --theme-color-blue-tertiary: #46caf5;

  --hover-blue-theme-lighter: rgba(64, 152, 214, 0.3);
  --hover-blue-theme-darker: rgba(64, 152, 214, 0.6);
}

:root .blue-theme, :root .light-theme.blue-theme {

  --theme-color: var(--theme-color-blue);
  --theme-color-secondary: var(--theme-color-blue-secondary);
  --theme-color-tertiary: var(--theme-color-blue-tertiary);

  --hover: var(--hover-blue-theme-lighter);
}

@mixin blue-theme-dark-mode {
  --hover: var(--hover-blue-theme-darker);
}

.dark-theme.blue-theme {
  @include blue-theme-dark-mode
}

@media (prefers-color-scheme: dark) {
  :root .blue-theme {
    @include blue-theme-dark-mode
  }
}
