<nav class="bottom-nav">
  <a [routerLink]="URLS.home" [class.active]="routerUrl.includes(URLS.home)">
    <i [class]="'fas fa-home fa-fw'" aria-hidden="true"></i>
    <span> Home </span>
  </a>
  <a [routerLink]="URLS.products" [class.active]="routerUrl.includes(URLS.products)">
    <i [class]="'fas fa-puzzle-piece fa-fw'" aria-hidden="true"></i>
    <span> Products </span>
  </a>
  <a [routerLink]="URLS.contact" [class.active]="routerUrl.includes(URLS.contact)">
    <i [class]="'fas fa-address-card fa-fw'" aria-hidden="true"></i>
    <span> Contact Us </span>
  </a>
</nav>